@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <p align="justify">
        We are a welcoming neighborhood cafe in the Grand Rapids,
        offering high quality beverages, sandwiches, and baked goods
        to our community. We think of our customers as friends to whom
        we are proud to offer a special cafe experience through friendly
        hospitality, quality of goods, and an atmosphere to unwind,
        relax, or enjoy the company of friends and family. Both our staff
        and customers take pride in calling Royal “our” Cafe.
    </p>
    <br />
    <h4 align="center">Find Us!</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.589407953759!2d-85.67152178465719!3d42.96585627915086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819ad0c2605e461%3A0x3b6483a366620b8f!2sGrand%20Circus!5e0!3m2!1sen!2sus!4v1572225941175!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<div>

</div>




