@model RoyalCafe.Models.Products
@{
    ViewData["Title"] = "Details";
}

<h1>Receipt</h1>
<hr />
<div>


    <h4>@ViewData["Message"] </h4><br />
    <h4>@ViewData["Price"] </h4>

</div>
<a asp-action="Index"> Back to List</a>

